name: Release

on:
    push:
        tags:
            - v*
    workflow_dispatch:

jobs:
    release:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
                include:
                    - os: macos-latest
                      platform: mac
                    - os: ubuntu-latest
                      platform: linux
                    - os: windows-latest
                      platform: windows

        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Build
              run: bun run build

            - name: Run Electron Builder
              if: ${{ matrix.platform != 'mac' }}
              run: |
                  bun run electron-builder --${{ matrix.platform }} --publish always
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Run Electron Builder
              if: ${{ matrix.platform == 'mac' }}
              run: |
                  echo "$API_KEY" > apple.p8
                  bun run electron-builder --${{ matrix.platform }} --publish always
              env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                CSC_LINK: ${{ secrets.APPLE_SIGNING_CERT }}
                CSC_KEY_PASSWORD: ${{ secrets.APPLE_SIGNING_CERT_PASSWORD }}
                API_KEY: ${{ secrets.APPLE_API_KEY }}
                APPLE_API_KEY: apple.p8
                APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
                APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
